# Build
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.o
*.obj
*.exe
*.dll
*.so
*.a

# Qt
*.pro.user
*.user
*.autosave
moc_*
qrc_*
ui_*

# IDE
.vscode/
.idea/
.vs/

# OS
.DS_Store
Thumbs.db
